@import (reference) url("../var.module.less");

.rotate90 {
  transform: rotate(90deg);
}

.checkbox {
  height: @row-height;
  line-height: @row-height;
}

.icon {
  transition: transform .3s;
  padding: 12px 10px 13px 13px;
}

.checkboxContainer {
  &+.checkboxContainer {
    border-top: @border;
  }

  display: flex;
  align-items: center;
}

.noLeaf {
  padding-left: 37px;
}
