@import (reference) url("./var.module.less");

.permissionContainer {
  width: 100%;

  >div {
    width: 100%;
  }

  :global {
    .ant-empty {
      padding: 36px;
    }
  }
}

.flexAuto {
  flex: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableHeaderbox {
  .flex;

  .tableItem {
    color: #000000d9;
    background-color: #f9f9f9;
    height: 40px;
    .centerCol;
  }

  .tableItem:nth-child(1) {
    .firstCol;
  }

  .tableItem:last-child {
    .authCol;
  }
}

.tableItem {
  .flex;

  color: #000000d9;
  background-color: #f9f9f9;
  height: 40px;

  &:last-of-type {
    border-right: none;
  }
}

.firstCol {
  // .flex-col;
  width: @first-col;
  border-right: @border;
}

.lastCol {
  .flexAuto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.centerColWrap {
  display: flex;
  width: max-content;
}

.centerCol {
  width: @center-col;
  border-right: @border;

  :global {
    .ant-checkbox-wrapper {
      flex: 1;
      width: 0;
    }

    .ant-checkbox-wrapper span:last-of-type {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}

.authCol {
  .flexAuto;
  display: flex;
  flex-wrap: wrap;
  width: 0;
  border-right: none;
  overflow: hidden;

  >div {
    border-top: none !important;
    flex: none;
    align-items: flex-start !important;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: @border;

  &:last-of-type {
    border-bottom: none;
  }
}

.borderTop {
  &+.borderTop {
    border-top: @border;
  }

  display: flex;
  width: 100%;
  transition: all .3s;
  height: auto;
}

.minCol {
  height: @row-height + 1px;

  &:nth-child(1) {
    height: @row-height;
  }
}

:export {
  rowHeight: @row-height;
}
